

/* header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--body-color);
    font-family:Arial, Helvetica, sans-serif;
  }
  :root {
    --body-color: #dde1e7;
    --nav-color:#dde1e7;
    --side-nav:#dde1e7;
    --text-color:#595959;
    --search-bar: #595959;
    --search-text: #595959;
    --hover-txt-color:#3498db;
    --box-shadow: -3px -3px 7px #ffffff73,
                    2px 2px 5px rgba(94,101,121,0.288);
    --box-inset-shadow: inset 2px 2px 5px #babecc,
                        inset -5px -5px 10px #ffffff73;
    --transparent-color: rgba(221,225,231,0.8);

    /* Site Max-Width */
    --site-max-width: 1350px;
  }
body.dark{
    --body-color: #595959;
    --nav-color:#595959;
    --side-nav:#595959;
    --text-color:#dde1e7;
    --search-bar: #dde1e7;
    --search-text: #dde1e7;
    --box-shadow: 0px -1px 10px rgba(0,0,0,1);
    --box-inset-shadow: inset 2px 2px 5px #000000,
                        0px 1px 1px #333;
    --transparent-color: rgba(89,89,89,0.8);
}


    /* arrow top  */

.arrowTop{
    position: fixed;
    right:30px;
    bottom: -100%;
    border: none;
    border-radius: 18%; 
    transition: 0.2s ease;
}
.arrowTop.show{
    bottom: 100px;
}
.slideUp{
  font-size: 40px;
  color: var(--text-color);
  border: none;
  border-radius: 50%; 
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
 
}
.slideUp:hover{
    color: var(--hover-txt-color);
    box-shadow: var(--box-inset-shadow);
}







  .header-main a {
    text-decoration: none;
  }
  .header-main {
    list-style: none;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--body-color);
    border: none;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
  }
  header.hide{
    transform: translatey(-100%);
  }
  nav .nav-logo h1 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 30px;
  }
 
  nav {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: var(--body-color);
    max-width: var(--site-max-width);
  }

nav .header-main{
  display: flex;
  
  gap: 15px;
  margin-bottom: -2px;
}
nav .header-main>li>a {
    display: block;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    transition: all 0.2s ease;
  }
  
  nav .header-main li a:hover {
    color: var(--hover-txt-color);
    border-radius: 5px;
    background: var(--body-color);
    box-shadow: var(--box-shadow);
  
  }
  nav .header-main li a:focus {
    color: var(--hover-txt-color);
    border-radius: 5px;
    background: var(--body-color);
    box-shadow: var(--box-inset-shadow);
  
  }
  /* minimixe maximize nav bar button */

  
  .searchBox i{
    display: none;
  }
/* nav label {
    font-size: 32px;
    color: var(--hover-txt-color);
    cursor: pointer;
  }
  
  label .menu_btn,
  label .close_btn {
    display: none;
  }
  
  #click {
    display: none;
  } */
  
  @media screen and (max-width: 1024px) {
    nav {
        padding: 15px 20px;
    }

    nav .header-main {
        margin-bottom: 10px;
        display: block;
        position: absolute;
        top: 76px;
        left: -100%;
        overflow-y:auto;
        width:35%;
        height: 100vh;
        text-align:center;
        transition: all 0.10s ease;
        border: none;
        background: transparent;
        background-color: var(--transparent-color);
        box-shadow: var(--box-shadow);
    }
    nav.active .header-main{
        left: 0;
    }
    .searchBox{
        display: flex;
        font-size: 25px;
        align-items: center;
        justify-content: center;
      }
      .searchBox i{
        display: block;
        padding-right: 25px;
        position: absolute;
        top: 19px;
        font-size: 30px;
        color: var(--text-color);
        cursor: pointer;
      }
      .searchBox i.close{
        opacity: 0;
        pointer-events: none;
      }
      .searchBox.active i.close{
        opacity: 1;
        pointer-events: auto;
      }
      .searchBox.active i.open{
        opacity: 0;
        pointer-events: none;
      }
    





    /* #click:checked~ul {
        left: 0px;
    }
    #click:checked~label .close_btn {
        display: block;
    }
  
    #click:checked~label .menu_btn {
        display: none;
  
    } */
    
    nav .header-main li {
        display: block;
        padding: 0 10px;
        width: 100%;
        margin: 15px 10px 0px -10px;
    }
  
    nav .header-main li a {
        color: var(--text-color);
        border: none;
        border-radius: 10px;
        box-shadow: var(--box-shadow);  
    }
    nav .header-main li a:focus {
      color: var(--text-color);
      border: none;
      border-radius: 10px;
      box-shadow: var(--box-inset-shadow); 
    }
    .darkLight-searchBox .dark-light{
        display: flex;
        position: absolute;
        right: 35px;
    }
  
  }
  
  @media screen and (max-width: 500px) {
    nav .nav_logo a img
     {
        max-width: 45px;
    }
  
    nav .nav_logo h2 {
        font-size: 20px;
    }
  
    .button {
        padding: 10px 20px !important;
        font-size: 15px !important;
    }
    nav .header-main {
      display: block;
      position: absolute;
      top: 76px;
      left: -100%;
      overflow-y:auto;
      width:55%;
      height: 100vh;
      text-align:center;
      transition: all 0.10s ease;
      border: none;
      background: transparent;
      background-color: var(--transparent-color);
      box-shadow: var(--box-shadow);
    }

    /* mode */
    .darkLight-searchBox .dark-light{
        display: flex;
        position: absolute;
        right: 35px;
    }
   
  
  }

/* dark and light mode */
.darkLight-searchBox{
    display: flex;
    position: absolute;
    right: 20px;
    top: 16px;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchtoggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchtoggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* sun */
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}




/* home */

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    background-size: cover;
    background-position: center;
}
.container-fluid{
    padding: 10px;
    margin-top: 50px;
    width: 70%;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    
}







@media(max-width:800px){
    .home .container-fluid .container .row{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            
    }
   
    .home .home-content{
        padding: 50px 15px 20px 15px;
        
    }
    .container-fluid{
        margin-top: 90px;
        width: 90%;
        border: none;
        border-radius: 25px;
        box-shadow: var(--box-shadow);
        
    }
    .row .col-md-5 img{
        margin: 35px 35px 5px 35px;
       
    }
   
    
    
}
.home-content{
    padding: 70px 50px 10px 50px;
    background: var(--body-color);
    
}
.home-content h2{
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
    
}
.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.2;
}
.home-content p{
    color: var(--hover-txt-color);
    font-size: 18px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    width: 100px;
    height: 50px;
}
.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: var(--body-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: none;
    font-size: 19px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}
.btn-box a:focus{
    color: var(--hover-txt-color);
    box-shadow: var(--box-inset-shadow);
}
.btn-box a:hover{
    color: var(--hover-txt-color);
    
}
.home-sci{
    margin-bottom: 20px;
    word-spacing: 20px;
    padding: 60px 0px 10px 0px;
}
.home-sci a{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--body-color);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    box-shadow: var(--box-shadow);

}
.home-sci a:hover{
    color: var(--hover-txt-color);
    border: 2px solid var(--hover-txt-color);
}
.home-sci a:focus{
    color: var(--hover-txt-color);
    border: none;
    box-shadow: var(--box-inset-shadow);
    
}
.col-md-5 img{
    margin: 90px 35px 5px 35px;
    width: 80%;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    /* border: 2px solid var(--hover-txt-color); */
    box-shadow: var(--box-shadow);
    
}
.col-md-5 img:hover{
    border: none;
    transform: scale(1.1);
}




/* About */

@media(max-width:800px){
    .about-content{
        padding: 0px 5px 20px 2px;   
    }
    .about .container-fluid .container .row{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }   
    .about .about-content p{
        margin: 10px 15px 20px 15px;
    }
    .about .about-content h5{
        margin: 10px 15px 20px 15px;
        color: var(--text-color);
    }
}



.col-md-4 .about img{
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.col-md-4 .about img:hover{
    transform: scale(1.1);
    
}
.about-content p{
    color: var(--text-color);
    font-size: 18px;
    margin: 20px 30px 20px 50px;
}
.about-content h5{
    margin: 80px 30px 20px 50px;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}
.container-fluid .container h1{
    padding-top: 30px;
    text-align: center;
    font-weight: 800;
    color: var(--hover-txt-color);
}
  

/* My skills */
.skill-header{
    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 800;
    color: var(--hover-txt-color);
}

.skills-content{
    
    border: none;
    margin: 10px 8px 15px 8px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}
.skills-content:hover{
    transform: scale(1.1);
}

.skills-content img{
    padding-bottom: 20px;
}
.skills-content h3,h5{
    color: var(--text-color);
    font-weight: 500;
}

/* Service */
.service-header{
    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 800;
    color: var(--hover-txt-color);
}
.service-content{
    border: none;
    margin: 10px 10px 40px 10px;
    text-align: center;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}
.service-content img{
    width:40%;
    margin: 8%;
}
.service-content h3{
    font-weight: 600;
    color: var(--hover-txt-color);
}
.service-content h6{
    color: var(--text-color);
}




/* contact */


@media(max-width:800px){
    .container-fluid .col-md-4 .detail{
        padding: 10px 0px 20px 15px;
    }
    .col-md-5 .contactform{
        width: 100%; 
        margin-left: 0px;
    }
}    

.contact-header{
    text-align: center;
    padding: 30px 0 10px 0;
    font-weight: 800;
    color: var(--hover-txt-color);
}

.container-fluid .box{
    margin-top: 15px;
    display: flex;
    color: var(--text-color);
    
}
.container-fluid .box .icon{
      width: 30px; 
      height: auto;
      padding: 4px;
      color: var(--text-color);
      
}
.container-fluid .box .text{
    padding-left: 10px;
}
.container-fluid .box .text h3{
    font-weight: 550;
    font-size: 23px;
}
.container-fluid .box .text p{
    font-size: 18px;
}
.detail{
    padding: 10px 5px 15px 50px;
}

.contactform{
    margin-left: 25px;
    width: 90%;
    border: none;
    padding:10px 30px 30px 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);

    
}   
.contactform h2{
    color: var(--text-color);
    text-align: center;
    padding-bottom: 5px;
    
}
.contactform .inputbox{
    color: var(--text-color);
    padding: 5px;
}
.contactform .inputbox input{
    width: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.contactform .inputbox input:focus{
    box-shadow: var(--box-inset-shadow);
}
.contactform .inputbox textarea{
    width: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    height: 60px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.contactform .inputbox textarea:focus{
    box-shadow:var(--box-inset-shadow);
}
.contactform .submit input{
    color: var(--text-color);
    font-size: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.contactform .submit{
    padding-top: 20px;
}
.contactform .submit input:hover{
    color: var(--hover-txt-color);
}
.contactform .submit input:focus{
    color: var(--hover-txt-color);
    box-shadow: var(--box-inset-shadow);
}

/* footer */

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    background-size: cover;
    background-position: center;
}


.container-fluid-footer{
    background: var(--body-color);
    width: 90%;
    border: none;
    border-radius: 20px 20px 0px 0px;
    box-shadow: var(--box-shadow);
}
 
.footer-logo{
    padding:30px 0px 15px 20px;
    background: var(--body-color);
    border:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo a{
    margin: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--body-color);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    box-shadow: var(--box-shadow);

}

.footer-logo a:hover{
    color: var(--hover-txt-color);
    border: 2px solid var(--hover-txt-color);
}

.footer-logo a:focus{
    color: var(--hover-txt-color);
    border: none;
    box-shadow: var(--box-inset-shadow);
    
} 
.col-md-12{
    background-color: var(--body-color);
}

.col-md-12 .footer-menu ul {
    background: var(--body-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.col-md-12 .footer-menu ul li{
   
    list-style:none;
    background: var(--body-color);
}
.col-md-12 .footer-menu ul li a{
    text-decoration: none;
    background: var(--body-color);
    
    margin: 15px;
    font-size: 18px;
    color: var(--text-color);
}
.col-md-12 .footer-menu ul li a:hover{
    color: var(--hover-txt-color);
}
@media(max-width:800px){
    .col-md-12 .footer-menu ul li a{
        text-decoration: none;
        background: var(--body-color);
        margin: 4px;
        font-size: 15px;
        color: var(--text-color);
    }
    .container-fluid-footer{
        padding: 5px 10px 5px 5px;
        background: var(--body-color);
        width: 90%;
        border: none;
        border-radius: 20px 20px 0px 0px;
        box-shadow: var(--box-shadow);
    }
    
}


.footer-fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
   

}
.foo-fixed{
    width: 90%;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    background: var(--body-color);
   border-top: 2px solid var(--text-color);
   box-shadow: 0px 0px 0px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
}
.foo-fixed .fixed{
    background: var(--body-color);
}

